<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand"><img src="https://toppng.com/uploads/preview/community-transparent-icon-icon-community-11553449138xza2bdpsb4.png" alt="logo" style="width: 2em; height: auto;"> University Clubs</span>
  <button class="navbar-toggler" type="button" (click)="openNav()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="mySidenav" class="sidenav text-right">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/clubs">Clubs</a>
    <a routerLink="/">Home</a>
    <a routerLink="/login">Login</a>
  </div>
</nav>
