<footer class="">
  <div class="container-fluid">
    <p class="text-center">This website uses the following technologies.</p>
    <div class="row">
      <div class="col-6">
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
        </ul>
      </div>
      <div class="col-6">
        <ul>
          <li>Angular 7+</li>
          <li>HttpClient</li>
          <li>RxJS</li>
          <li>Secure Routing</li>
        </ul>
      </div>
    </div>
    <div class="container text-center">
      <div class="row contact-row">
        <div class="col-4 offset-2">
          <a href="#">Contact Us</a>
        </div>
        <div class="col-4">
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
    <br>
    <p class="copyright-line text-center"><i class="far fa-copyright"></i> Copyright 2020, Club Records, Angular Project</p>
  </div>
</footer>
